@model List<AsifBlog.Model.Post>
@{
    ViewData["Title"] = "Getposts";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-dark table-bordered table-hover table-striped text-center">
                <tr>
                    <th colspan="5"> <h3 class="text-center">Post</h3></th>
                </tr>
                <tr>
                    <th colspan="5">  <a class="btn btn-success" asp-controller="Post" asp-action="Createpost">Add New</a></th>
                </tr>
                <tr>
                    <th>#sr</th>
                    <th>Title</th>
                    <th>Short Description</th>
                    <th>Category</th>
                    <th>Action</th>
                </tr>
                @{
                    int i = 0;
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@Convert.ToInt32(i++)</td>
                            <td>@item.Title</td>
                            <td>@item.shortDescription</td>
                            <td>@item.Category.Name</td>
                            <td>
                                <a class="btn btn-success" asp-controller="Post" asp-action="Updatepost" asp-route-Id="@item.Id">Edit</a>&nbsp;|
                                <a class="btn btn-success" asp-controller="Post" asp-action="Detailpost" asp-route-Id="@item.Id">Details</a>&nbsp;|
                                <a class="btn btn-success" asp-controller="Post" asp-action="Deletepost" asp-route-Id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>

    </div>
</div>

